Source: lliurex-kde-hotkeys
Section: admin
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10), 
Standards-Version: 4.1.2

Package: lliurex-kde-hotkeys
Architecture: all
Depends: ${misc:Depends}
Replaces: konsole
Description: Lliurex KDE hotkeys settings
 LliureX KDE hotkeys configuration 
